* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #ffffff;
}

.logo {
  width: 80px;
  cursor: pointer;
}

.nav-bar {
  display: flex;
}

.menu-toggle {
  align-self: center;
  display: none;
}

.nav-links {
  display: flex;
  font-size: 1.37rem;
  font-weight: bold;
  list-style: none;
}

.nav-links a {
  padding: 0.3rem 1rem;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  margin-right: 5px;
}


.nav-links a:hover {
  background-color: rgb(215, 215, 219);
  padding: 0.3rem 1rem;
  border-radius: 8px;
}

.nav-link:nth-child(3) a {
  background-color: rgb(254, 82, 3);
  color: #ffffff;
  border-radius: 8px;
}

footer {
  height: 100%;
  width: 100%;
  background-color: rgb(66, 63, 63);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  position: relative;
  z-index: -1;
}

footer li {
  list-style: none;
  color: white;
  line-height: 32px;
  cursor: pointer;
}

footer .contact-container ul:first-child {
  text-align: center;
}

footer li:hover {
  color: rgb(245, 132, 80);
}

footer .social-media-icon-container {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  margin-left: 3px;
}

footer .icon {
  width: 20px;
  filter: invert(1);
}

footer .icon:hover {
  filter: invert(0.4) sepia(100%) saturate(1000%)
}

.fixed-whatsapp-logo {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 3vw;
  cursor: pointer;
}


@media screen and (max-width: 600px) {

  header {
    padding-left: 0;
    padding-right: 1rem;
  }

  .nav-bar {
    position: relative;
  }

  /* Menu Icon (Hamburger) */
  .menu-toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }

  /* Navigation Links (Hidden by Default) */
  .nav-links {
    display: none;
    position: absolute;
    top: 63px;
    right: -16px;
    padding: 1rem;
    height: 20vh;
    width: 100%;
    text-align: center;
  }

  /* Active State (When Menu is Open) */
  .nav-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(230, 229, 229);
    width: max-content;
  }

  /* Navigation Links Styling */
  .nav-links a {
    color: #000;
    display: block;
    margin-right: 0;
  }

  footer {
    flex-direction: column;
    height: auto;
    margin-top: 0;
    padding: 1rem;
    gap: 2rem;
  }

  .terms-conditions-container ul li:last-child {
    width: 80%;
  }

  .fixed-whatsapp-logo {
    width: 35px;
    bottom: 60px;
  }


  footer .contact-container ul:first-child {
    text-align: left;
  }
}

@media screen and (min-width: 600px) {
  header {
    padding-left: 0;
    padding-right: 1rem;
  }

  .nav-bar {
    position: relative;
  }

  /* Menu Icon (Hamburger) */
  .menu-toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }

  /* Navigation Links (Hidden by Default) */
  .nav-links {
    display: none;
    position: absolute;
    top: 63px;
    right: -16px;
    height: 20vh;
    width: 100%;
    text-align: center;
  }

  /* Active State (When Menu is Open) */
  .nav-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(230, 229, 229);
    padding: 15px;
    width: max-content;
  }

  /* Navigation Links Styling */
  .nav-links a {
    color: #000;
    margin-right: 0;
  }

  footer {
    flex-direction: column;
    height: auto;
    margin-top: 0;
    padding: 1rem;
    gap: 2rem;
  }

  .terms-conditions-container ul li:last-child {
    width: 80%;
  }

  .fixed-whatsapp-logo {
    width: 35px;
  }

  footer .contact-container ul:first-child {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  /* Adjust Header */

  header {
    justify-content: space-between;
    padding: 0;
    padding-right: 1rem;
  }

  footer {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
  }

  footer li {
    font-size: 1rem;
  }

  footer .contact-container ul:first-child {
    text-align: left;
  }

  .fixed-whatsapp-logo {
    width: 40px;
    bottom: 150px;
  }
}

@media screen and (min-width: 992px) {
  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    position: static;
    height: auto;
  }

  footer {
    gap: 2rem;
    display: flex;
    flex-direction: row;
  }

}

@media screen and (min-width: 1200px) {

  .nav-bar a {
    font-size: 1.7rem;
  }

  footer {
    padding: 2rem;
    align-items: center;
  }


  footer li {
    font-size: 1rem;
  }

  .fixed-whatsapp-logo {
    bottom: 50px;
    right: 50px;
  }

}

@media screen and (min-width: 2560px) {
  .logo {
    width: 150px;
  }

  footer li {
    font-size: 1.5rem;
  }

}