.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.first-section {
  background-color: black;
  color: whitesmoke;
  height: 18vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.title-container {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.title-container h1 {
  text-align: center;
  font-size: 3rem;
  align-self: center;
}

.divisor {
  width: 97vw;
  height: 2px;
  background-color: whitesmoke;

}

.asociate {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 62px;
  letter-spacing: 2px;
}

.section-info h2 {
  margin-bottom: 12px;
}

.section-info p {
  width: 30vw;
}

.asociate button {
  border: 2px solid whitesmoke;
  border-radius: 16px;
  color: whitesmoke;
  background-color: inherit;
  padding: 20px 55px;
  font-weight: bold;
  cursor: pointer;
}

.asociate button:hover {
  background-color: whitesmoke;
  color: #000000;
}


.second-section {
  background-color: rgb(219, 219, 219);
  display: flex;
  align-items: center;
  padding: 0.8rem;
  height: 18vw;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px ;
  width: 100%;
}

.text-container .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text-container .text h3{
  margin-bottom: 30px;
}

.text-container .text p {
  width: 76%;
  letter-spacing: 1px;
  line-height: 26px;
}

.text-container button {
  border: 2px solid #000000;
  border-radius: 16px;
  color: #000000;
  background-color: inherit;
  padding: 20px;
  width: 30%;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 12px;
}

.text-container button:hover {
  background-color: #000000;
  color: whitesmoke;
}

.image-container img {
  width: 48.3vw;
  height: 17vw;
  object-fit: cover;
  display: block;
}

.platinum-section {
  background-color: rgb(125, 125, 125);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 18vw;
  color: whitesmoke;
  padding: 0.8rem;
}

.platinum-section .text-container {}



/*Mobile */

@media screen and (max-width: 640px) {

  .first-section {
    height: auto;
    text-align: center;
  }

  .title-container {
    height: 18vh;
  }

  .title-container h1 {
    font-size: 2rem;
  }

  .asociate {
    padding: 0;
    flex-direction: column;
    padding: 2rem;
  }

  .section-info p {
    width: 100%;
    margin-bottom: 1rem;
  }

  .second-section {
    height: auto;
    flex-direction: column-reverse;
  }

  .second-section img {
    height: auto;
    width: 100%;
  }

  .text-container {
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    padding: 0;
  }

  .text-container .text h3 {
    margin-bottom: 1rem;
  }

  .text-container .text p {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 1rem;
  }

  .text-container button {
    margin-bottom: 1rem;
  }

  .text-container button,
  .asociate button {
    width: 80%;
  }
}