.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.first-section {
  background-color: black;
  color: whitesmoke;
  height: 20vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.title-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-container h1 {
  text-align: center;
  font-size: 3rem;
  align-self: center;
}

.divisor {
  width: 97vw;
  height: 2px;
  background-color: whitesmoke;

}

.asociate {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  letter-spacing: 2px;

}

.section-info h2 {
  margin-bottom: 12px;
}

.section-info p {
  width: 30vw;
  font-weight: 600;
  font-size: 14px;
}

.asociate button {
  border: 2px solid whitesmoke;
  border-radius: 16px;
  color: whitesmoke;
  background-color: inherit;
  padding: 20px 55px;
  font-weight: bold;
  cursor: pointer;
}

.asociate button:hover {
  background-color: whitesmoke;
  color: #000000;
}


.black-section {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 0.7rem;
  height: 20vw;
}

.black-section-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  height: 100%;
}

.black-section-text-container .text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.black-section-text-container .text h3,
.platinum-section-text-container .text h3 {
  margin-bottom: 30px;
}

.black-section-text-container .text p {
  width: 76%;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 26px;
  font-size: 14px;
}

.black-section-text-container button {
  border: 2px solid #000000;
  border-radius: 16px;
  color: #000000;
  background-color: inherit;
  padding: 20px;
  width: 25%;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 155px;
}

.black-section-text-container button:hover {
  background-color: #000000;
  color: whitesmoke;
}


.image-container {
  height: 100%;
}

.hero-image {
  width: 48.3vw;
  height: 100%;
  object-fit: cover;
}

.platinum-section {
  background-color: rgb(125, 125, 125);
  display: flex;
  flex-direction: row-reverse;
  gap: 35px;
  height: 20vw;
  width: 100%;
  color: whitesmoke;
  padding: 0.7rem;
}


.platinum-section-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 20px 0;
  padding-right: 2rem;
}


.platinum-section-text-container .text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.platinum-section-text-container button {
  border: 2px solid #fff;
  border-radius: 16px;
  color: #fff;
  background-color: inherit;
  padding: 20px;
  width: 25%;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 155px;
}

.platinum-section-text-container button:hover {
  background-color: #fff;
  color: #000000;
}

.platinum-section-text-container .text p {
  width: 70%;
  letter-spacing: 1px;
  line-height: 22px;
  font-size: 14px;
}



/*Mobile */

@media screen and (min-width: 640px) {

  .container {
    display: grid;
    grid-template-columns: 1fr;
  }


  .first-section {
    height: auto;
    text-align: center;
  }

  .title-container {
    height: 18vh;
  }

  .title-container h1 {
    font-size: 2rem;
  }

  .asociate {
    padding: 0;
    flex-direction: column;
    padding: 1rem;
  }

  .section-info p {
    width: 100%;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    line-height: 22px;
    font-weight: normal;
  }

  .black-section {
    height: auto;
    flex-direction: column-reverse;
    padding: 0;
  }

  .black-section-text-container {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .black-section-text-container .text h3,
  .platinum-section-text-container .text h3 {
    margin-bottom: 1rem;
  }

  .black-section-text-container .text p {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  .asociate button,
  .black-section-text-container button,
  .platinum-section-text-container button {
    width: 80%;
  }

  .black-section-text-container button,
  .platinum-section-text-container button {
    margin: 0;
  }

  .platinum-section {
    height: auto;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    gap: 0;
  }

  .platinum-section-text-container {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }

  .platinum-section-text-container .text {
    align-items: center;
  }

  .platinum-section-text-container .text p {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {

  .first-section,
  .black-section,
  .platinum-section {
    height: auto;
  }

  .title-container {
    height: 12vh;
  }

  .asociate {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  .section-info p {
    width: 100%;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    line-height: 22px;
    font-weight: normal;
    font-size: 1.1rem;
  }

  .black-section,
  .platinum-section {
    flex-direction: column-reverse;
    padding: 0;
  }

  .black-section-text-container,
  .platinum-section-text-container {
    padding: 1rem;
  }

  .black-section-text-container .text {
    padding: 0.5rem;
  }

  .black-section-text-container .text p {
    width: 90%;
  }

  .black-section button,
  .platinum-section button {
    margin-bottom: 0;
  }

  .platinum-section {
    gap: 0;
  }
}

@media (max-width: 1024px) {

  .first-section,
  .black-section,
  .platinum-section {
    height: auto;
  }

  .title-container {
    height: 12vh;
  }

  .asociate {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  .section-info p {
    width: 100%;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    line-height: 22px;
    font-weight: normal;
    font-size: 1.1rem;
  }

  .black-section,
  .platinum-section {
    flex-direction: column-reverse;
    padding: 0;
  }

  .black-section-text-container,
  .platinum-section-text-container {
    padding: 1rem;
    
  }

  .black-section-text-container .text {
    padding: 0.5rem;
  }

  .black-section-text-container .text p,
  .platinum-section-text-container .text p {
    width: 90%;
    letter-spacing: 2px;
  }

  .platinum-section {
    gap: 0;
  }
}

@media screen and (min-width: 1280px) {

  .first-section,
  .black-section,
  .platinum-section {
    height: auto;
  }

  .title-container {
    height: 12vh;
  }

  .asociate {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  .section-info p {
    width: 100%;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    line-height: 22px;
    font-weight: normal;
    font-size: 1.1rem;
  }

  .black-section,
  .platinum-section {
    flex-direction: column-reverse;
    padding: 0;
   
  }

  .black-section-text-container,
  .platinum-section-text-container {
    padding: 1rem;
    height: 30vh;
  }

  .black-section-text-container .text {
    padding: 0.5rem;
  }

  .black-section-text-container .text p {
    width: 90%;
  }

  .black-section img, .platinum-section img {
    width: 100%;
    height: 20vh;
  }

  .black-section button,
  .platinum-section button {
    margin: 0;
  }

  .platinum-section {
    gap: 0;
  }

  .wrapper {
    flex-direction: column;
    height: auto;
  }

  .black-section-text-container .text p,
  .platinum-section-text-container .text p {
    font-size: 1rem;
    font-weight: 600;
  }

  .platinum-section-text-container .text p {
    width: 90%;
  }

  .social-media-icon-container {
    flex-wrap: wrap;
  }

  footer {
    font-size: 12px;
    gap: 30px;
  }

  .fixed-whatsapp-logo {
    width: 50px;
  }
}